* {
	box-sizing:border-box;
	margin:10px;
}
html {
	height:100%;
}
body{
	
	background-color: #E5EFED;
	min-height: 100vh;
	display:flex;
	flex-direction: column;

}
header {
	display:flex;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	background-color: rgb(0, 0, 0);
	color:bisque;
	flex-wrap: wrap;

}

header h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	font-size:50px;
	padding-left: 0px;
	text-shadow:5px 5px 10px #1bc2a0;
	
}

header button{
	justify-content: space-between;
	background-color: #1BD1AD;
	margin-left: 40px;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	font-weight:900;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	padding: 15px 15px;
	transition: all 0.3s ease 0s;
}
header button:hover {
	background-color: #1a8a73;
}
#adminBtn{
	background-color: #000100;
	border-color: #1bc2a0;
	border-radius: 10px;
	color:#1bc2a0;
	padding: 12px 12px;
	transition: all 0.3s ease 0s;
}
#adminBtn:hover{
	background-color: #1BD1AD;
	color:#000100;
}

.br{
	background-color: rgb(138, 148, 147);
	height:5px;
	border-radius: 5px;
}
.bgImg{
	padding-top: 20px;
    height:580px;
    background-image: url("cover.png");
    background-size: cover;
	border-radius: 10px;
}
footer{
	border-radius: 15px;
	background-color: black;
	position:sticky;
	top:100%;
	color:white;
	height: 120px;
}
footer h4,h5,h6 {
	text-align:  center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}