* {
	box-sizing:border-box;
	margin:10px;
}
html {
	height:100%;
}
body{
	
	background-color: #E5EFED;
	min-height: 100vh;
	display:flex;
	flex-direction: column;
}
.welcome{
	background-color: #1a8a73;
	color:white;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}
.welcome h2{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	text-shadow:5px 5px 10px #000100;

}
.welcome a{
	text-decoration: none;
	color:white;

}
#logoutBtn{
	background-color: #000100;
	border-color: #1bc2a0;
	border-radius: 10px;
	color:#1bc2a0;
	padding: 12px 12px;
	transition: all 0.3s ease 0s;
}
#logoutBtn:hover{
	background-color: #1BD1AD;
	color:#000100;
}

header {
	display:flex;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	background-color: rgb(0, 0, 0);
	color:bisque;
	flex-wrap: wrap;

}
.logoImg{
	height:100px;
	

}
header h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	font-size:50px;
	padding-left: 0px;
	text-shadow:5px 5px 10px #1bc2a0;
	
}

header button{
	
	justify-content: space-between;
	background-color: #1BD1AD;
	margin-left: 20px;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	font-weight:900;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	padding: 12px 12px;
	transition: all 0.3s ease 0s;
}
header button:hover {
	background-color: #1a8a73;
}

.br{
	background-color: rgb(138, 148, 147);
	height:5px;
	border-radius: 5px;
}

.container{
	display:flex;
	background-color: #d2e4e1;
	justify-content: center;
	border-radius: 20px;
	flex-wrap: wrap;
}
.CARD{
	background-color: rgb(165, 194, 194);
	height:550px;
	width:350px;
	margin:10px;
	border-radius: 20px;

}
.CARD h2{
	text-align: center;
}
.cardImg{
	background-color: blue;
	height:300px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.CARD-1{
	background-image: url('card1.jpg');
	background-size: cover;
}
.CARD-2{
	background-image: url('card2.jpg');
	background-size: cover;
}
.CARD-3{
	background-image: url('card3.jpg');
	background-size: cover;
}
.CARD:hover{
	background-color: #1a8a73;
	cursor: pointer;
	color:azure;
	transform: scale(1.05);
}
footer{
	font-size: 20px;
	background-color: black;
	position:sticky;
	top:100%;
	color:white;
	height: 100px;
	border-radius: 20px;
}
footer h4,h5,h6 {
	text-align:  center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}

