* {
	box-sizing:border-box;
	margin:10px;
}
html {
	height:100%;
}
body{
	
	background-color: #E5EFED;
	min-height: 100vh;
	display:flex;
	flex-direction: column;
}
header {
	display:flex;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	background-color: rgb(0, 0, 0);
	color:bisque;
	flex-wrap: wrap;

}

header h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	font-size:50px;
	padding-left: 0px;
	text-shadow:5px 5px 10px #1bc2a0;
	
}

header button{
	justify-content: space-between;
	background-color: #1BD1AD;
	margin-left: 80px;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	font-weight:900;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	color:black;
	padding: 15px 15px;
	transition: all 0.3s ease 0s;
}
header button:hover {
	background-color: #1a8a73;
}
.br{
	background-color: rgb(138, 148, 147);
	height:5px;
	border-radius: 5px;
}



.update-profile{
    background-color: #1a8a73;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.update-profile img{
    border-radius: 50%;
}
.updateForm{
    display: flex;
    flex-direction: row;
}
.updateForm form{
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: bold;
     padding-top: 10px;
     background-color: #296559;
     flex-wrap: wrap;
     width:100%;
     border-radius: 15px;
}
.updateForm form input{
    padding:5px;

    border-radius:10px;
    border:none;
}
.uploadImg{
    padding:15px;
}
#updateBtn{
    padding:18px;
    border-radius:18px;
    background-color: black;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer;
    font-size: 15px;
    align-items: center;
}
#updateBtn:hover{
    background-color: #25685b;
    
}
.updateForm form a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}
.updateForm form a:hover{
    color:white;
    
}
footer{
	font-size: 20px;
	background-color: black;
	position:sticky;
	top:100%;
	color:white;
	height: 100px;
}
footer h4,h5,h6 {
	text-align:  center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}
